@media only screen {
    .listContainer{
        width: 100%;
    }
    .listContainer li{
        margin: 0.5rem 0;
        font-size: 1.2rem;
        line-height: 2.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: font-size 0.2s ease-in-out;
    }
    .listContainer li span{
        font-family: var(--font-title);
        margin-right: 0.5rem;
    }
    
    .listContainer li:hover{
        font-size: 2rem;
        line-height: 2.5rem;
    }
}
@media only screen and (min-width: 768px) {
    .listContainer{
        width: 50%;
    }
}

@media only screen and (hover: none) and (pointer: coarse){
    .listContainer{
        width: 100%;
    }
    .listContainer ul{
        padding-inline-start: 1rem;
    }

    .listContainer li{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .listContainer li:hover{
        font-size: 1rem;
        line-height: 1.5rem;
    }
}